{% extends 'layout/_base.html' %}

{% block head %}
    <title>冯诺依曼队</title>

    {% block css %}
    {% endblock %}
{% endblock %}

{% block body %}
    <div class="header navbar navbar-inverse navbar-fixed-top">

		<div class="navbar-inner">

			<div class="container-fluid">

				<ul class="nav pull-right">

					<li class="dropdown user">

						<a href="#" class="dropdown-toggle" data-toggle="dropdown">

						<span class="username">冯诺依曼同学</span>

						<i class="icon-angle-down"></i>

						</a>

						<ul class="dropdown-menu">

							<li><a href=""><i class="icon-key"></i> Log Out</a></li>

						</ul>

					</li>

				</ul>

			</div>

		</div>


	</div>

	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->

	<div class="page-container">

		<!-- BEGIN SIDEBAR -->

		<div class="page-sidebar nav-collapse collapse">

			<!-- BEGIN SIDEBAR MENU -->

			<ul class="page-sidebar-menu">

				<li>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

					<div class="sidebar-toggler hidden-phone"></div>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

				</li>

				<li>

					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

					<form class="sidebar-search">

						<div class="input-box">

							<a href="javascript:;" class="remove"></a>

							<input type="text" placeholder="Search..." />

							<input type="button" class="submit" value=" " disabled />

						</div>

					</form>

					<!-- END RESPONSIVE QUICK SEARCH FORM -->

				</li>

                    <li>

                        <a href="{% url 'text_summary' %}">

                        <i class="icon-file-text"></i>

                        <span class="title">文本处理</span>

                            </a>

                            <span class="arrow"></span>

                            </a>

                            <ul class="sub-menu">

                                <li>

                                    <a href="{% url 'text_summary' %}">

                                    文本摘要

                                    </a>

                                </li>

                            </ul>

                    </li>

                    <li>

                        <a href="{% url 'sentiment_analysis' %}">

                        <i class="icon-heart"></i>

                        <span class="title">情感分析</span>

                            </a>

                            <span class="arrow"></span>

                            </a>

                            <ul class="sub-menu">

                                <li>

                                    <a href="{% url 'sentiment_analysis' %}">

                                    情感分析

                                    </a>

                                </li>

                            </ul>

                    </li>

                    <li>

                        <a href="{% url 'alphacat' %}">

                        <i class="icon-android"></i>

                        <span class="title">对话机器人</span>

                            </a>

                            <span class="arrow"></span>

                            </a>

                            <ul class="sub-menu">

                                <li>

                                    <a href="{% url 'alphacat' %}">

                                    对话机器人

                                    </a>

                                </li>

                            </ul>

                    </li>

			</ul>

			<!-- END SIDEBAR MENU -->

		</div>

		<!-- END SIDEBAR -->

		<!-- BEGIN PAGE -->

		<div class="page-content" style="height: auto;min-height: 700px">

			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<div id="portlet-config" class="modal hide">

				<div class="modal-header">

					<button data-dismiss="modal" class="close" type="button"></button>

					<h3>Widget Settings</h3>

				</div>

				<div class="modal-body">

					Widget settings form goes here

				</div>

			</div>

			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN STYLE CUSTOMIZER -->

						<div class="color-panel hidden-phone">

							<div class="color-mode-icons icon-color"></div>

							<div class="color-mode-icons icon-color-close"></div>

							<div class="color-mode">

								<p>背景色</p>

								<ul class="inline">

									<li class="color-black" data-style="default"></li>

									<li class="color-blue" data-style="blue"></li>

									<li class="color-brown" data-style="brown"></li>

									<li class="color-purple" data-style="purple"></li>

									<li class="color-grey current color-default" data-style="grey"></li>

									<li class="color-white color-light" data-style="light"></li>

								</ul>

								<label>

									<span>视图</span>

									<select class="layout-option m-wrap small">

										<option value="fluid" selected>平铺</option>

										<option value="boxed">盒子</option>

									</select>

								</label>

								<label>

									<span>标题</span>

									<select class="header-option m-wrap small">

										<option value="fixed" selected>固定</option>

										<option value="default">移动</option>

									</select>

								</label>

								<label>

									<span>菜单</span>

									<select class="sidebar-option m-wrap small">

										<option value="fixed">移动</option>

										<option value="default" selected>固定</option>

									</select>

								</label>

								<label>

									<span>页脚</span>

									<select class="footer-option m-wrap small">

										<option value="fixed">移动</option>

										<option value="default" selected>固定</option>

									</select>

								</label>

                                <label>
                                    <object type="application/x-shockwave-flash" style="outline:none;" data="/statics/all/image/pendulumClockV2.swf" width="230" height="170"><param name="movie" value="/statics/all/image/pendulumClockV2.swf"></param><param name="AllowScriptAccess" value="always"></param><param name="wmode" value="opaque"></param><param name="bgcolor" value="tl"/></object>
                                </label>

							</div>

						</div>

						<!-- END BEGIN STYLE CUSTOMIZER -->

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

                        {% block page-body-title %}

                        {% endblock %}

						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>

				</div>

				<!-- END PAGE HEADER-->

                {% block page-body-container %}
                {% endblock %}

			</div>

			<!-- END PAGE CONTAINER-->

		</div>

		<!-- END PAGE -->

	</div>

	<!-- END CONTAINER -->

	<!-- BEGIN FOOTER -->

	<div class="footer">

		<div class="footer-inner">

            NLP5期-冯诺依曼队

		</div>

		<div class="footer-tools">

			<span class="go-top">

			    <i class="icon-angle-up"></i>

			</span>

		</div>

        {% block page-body-footer %}
        {% endblock %}

	</div>
{% endblock %}

{% block javascript %}
    <script>
        (function () {
            $("a[href='{{ request.path }}']").parents().addClass("active");
            $("a[href='{{ request.path }}']").attr("href","#");
            $(".select2_category").select2();
        })();

        function syntaxHighlight(json) {
            if (typeof json != 'string') {
                json = JSON.stringify(json, undefined, 2);
            }
            json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g, '>');
            return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function(match) {
                var cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key';
                    } else {
                        cls = 'string';
                    }
                } else if (/true|false/.test(match)) {
                    cls = 'boolean';
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';
            });
        }

        function getFormData() {
            var data = {};
            var input_list = $(".tooltips");
            for (var i = 0;i<input_list.length;i++){
                var _tag = input_list[i];
                data[$(_tag).attr("id")] = $(_tag).val();
            }

            var select_list = $(".select2_category");
            for (var i = 0;i<select_list.length;i++){
                var _tag = select_list[i];
                data[$(_tag).attr("id")] = $(_tag).val();
            }

            var text_list = $("textarea");
            for (var i = 0;i<text_list.length;i++){
                var _tag = text_list[i];
                data[$(_tag).attr("id")] = $(_tag).val();
            }

            {#var multiple_list = $("select[multiple='multiple']");#}
            {#for (var i = 0;i<multiple_list.length;i++){#}
            {#    var _tag = multiple_list[i];#}
            {#    var _id = $(_tag).attr("id");#}
            {#    var list = [];#}
            {#    $("#"+_id+" option:selected").each(function() {#}
            {#        list.push($(this).val());#}
            {#    });#}
            {#    data[_id] = JSON.stringify(list);#}
{#            }#}

            var multiple_list = $("select[multiple='multiple']");
            for (var i = 0;i<multiple_list.length;i++){
                var _tag = multiple_list[i];
                var _id = $(_tag).attr("id");
                var list = [];
                $("#s2id_"+_id).find("ul").find("li").each(function(){
                    var _div = $(this).find("div").text();
                    $("#"+_id+" option:selected").each(function() {console.log($(this).text()+"==>>"+_div);
                        if($(this).text() == _div){
                            list.push($(this).val());
                        }
                    });
                });

                data[_id] = JSON.stringify(list);
            }
            return data
        }

        function goNewPage() {
            var tag_value = document.getElementById("page_input").value;
            window.location.href='{{ request.path }}?page='+ tag_value;
        }

    </script>

    {% block js %}
    {% endblock %}
{% endblock %}
