{% extends "layout/_layout.html" %}

{% block css %}
    <script src="/statics/plugins/echarts.min.js"></script>
{% endblock %}

{% block page-body-title %}
    <h3 class="page-title">

		情感分析

	</h3>

    <ul class="breadcrumb">

        <li>

            <i class="icon-heart"></i>

            <a href="#">情感分析</a>

            <i class="icon-angle-right"></i>

        </li>

        <li><a href="#">情感分析</a></li>

    </ul>
{% endblock %}

{% block page-body-container %}

    <div class="row-fluid">

        <div class="span12">

            <textarea style="height: 100px;width: 98%" id="textarea_input"></textarea>

        </div>

    </div>

    <div class="row-fluid">

        <div class="span3"></div>

        <div class="span2">

            <button class="btn popovers green btn-block" data-trigger="hover" style="margin-top: 20px" onclick="doRandom()" data-placement="bottom" data-content="随机生成文本结果已提前预测完成，不必再次预测" data-original-title="注意！">

                <i class="m-icon-swapup m-icon-white"></i>随机生成文本

            </button>

        </div>

        <div class="span2">

            <button class="btn popovers blue btn-block" data-trigger="hover" style="margin-top: 20px" onclick="doWork()" data-placement="bottom" data-content="预测结果需要运行20个模型，请耐心等待" data-original-title="提示！">

                
                生成分析<i class="m-icon-swapdown m-icon-white"></i>

            </button>

        </div>

    </div>

    <div class="row-fluid" style="margin-top: 50px">

        <div class="span1">

            <div>

                <div style="height: 20px;margin-bottom: 20px;">

                    <div>位置：</div>

                </div>

            </div>

            <div>

                <div style="height: 20px;margin-bottom: 20px;">

                    <div>服务：</div>

                </div>

            </div>

            <div>

                <div style="height: 20px;margin-bottom: 20px;">

                    <div>价格：</div>

                </div>

            </div>

            <div>

                <div style="height: 20px;margin-bottom: 20px;">

                    <div>环境：</div>

                </div>

            </div>

            <div>

                <div style="height: 20px;margin-bottom: 20px;">

                    <div>菜品：</div>

                </div>

            </div>

            <div>

                <div style="height: 20px;margin-bottom: 20px;">

                    <div>其他：</div>

                </div>

            </div>

        </div>

        <div class="span3">

            <div>

                <div class="progress progress-striped active">

                    <div style="width: 10%;" class="bar" id="location">-2</div>

                </div>

            </div>

            <div>

                <div class="progress progress-striped active">

                    <div style="width: 10%;" class="bar" id="service">-2</div>

                </div>

            </div>

            <div>

                <div class="progress progress-striped active">

                    <div style="width: 10%;" class="bar" id="price">-2</div>

                </div>

            </div>

            <div>

                <div class="progress progress-striped active">

                    <div style="width: 10%;" class="bar" id="environment">-2</div>

                </div>

            </div>

            <div>

                <div class="progress progress-striped active">

                    <div style="width: 10%;" class="bar" id="dish">-2</div>

                </div>

            </div>

            <div>

                <div class="progress progress-striped active">

                    <div style="width: 10%;" class="bar" id="others">-2</div>

                </div>

            </div>

        </div>

        <div class="span1"></div>

        <div class="span7">

            <div id="container" style="width: auto; height: 650px"></div>

        </div>

    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="/statics/media/js/select2.min.js"></script>

    <script>

        function doRandom() {
            $.ajax({
                url: '{% url "sentiment_analysis" %}',
                type: 'PUT',
                data: {},
                dataType: 'json',
                success: function (data) {
                    $("#textarea_input").val(data.message['content']);
                    makeRate(data.message['class_A']);
                    makeEchart(data.message['echart_data']);
                }
            })
        }

        function doWork() {
            alert('预测大约需要1分钟时间，请稍等...');
            $.ajax({
                url: '{% url "sentiment_analysis" %}',
                type: 'POST',
                data: {
                    'contents': $("#textarea_input").val()
                },
                dataType: 'json',
                success: function (data) {
                    if (data.status){
                        makeRate(data.message['class_A']);
                        makeEchart(data.message['echart_data']);
                    }else{
                        $("#textarea_input").val(data.message)
                    }
                }
            })
        }

        function makeRate(datas) {
            function getRate(value) {
                switch (value){
                    case -2:
                        return "10%";
                    case -1:
                        return "20%";
                    case 0:
                        return "50%";
                    default:
                        return "100%";
                }
            }

            for (var data in datas) {
            　　var value = datas[data];
                $("#"+data).text(value);
                $("#"+data).css("width", getRate(value));
            }
        }

        function makeEchart (data) {
            var dom = document.getElementById("container");
            var myChart = echarts.init(dom);
            var data = data;
            myChart.setOption(option = {
                title: {
                    text: '情感类别分数',
                    subtext: '1:正面评价\n' +
                    '0:一般评价\n' +
                    '-1:负面评价\n' +
                    '-2:未提及',
                    textStyle: {
                        fontSize: 14,
                        align: 'center'
                    },
                    subtextStyle: {
                        align: 'center'
                    }
                },
                series: {
                    type: 'sunburst',
                    highlightPolicy: 'ancestor',
                    data: data,
                    radius: [0, '95%'],
                    sort: null,
                    levels: [{}, {
                        r0: '15%',
                        r: '35%',
                        itemStyle: {
                            borderWidth: 2
                        },
                        label: {
                            rotate: 'tangential'
                        }
                    }, {
                        r0: '35%',
                        r: '70%',
                        label: {
                            align: 'right'
                        }
                    }, {
                        r0: '70%',
                        r: '72%',
                        label: {
                            position: 'outside',
                            padding: 3,
                            silent: false
                        },
                        itemStyle: {
                            borderWidth: 3
                        }
                    }]
                }
            });
        }

    </script>
{% endblock %}
